* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cambria"
  
}

body {
  background: black;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  width: 620px;
  height: 90vh;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  
}

.white { 
  color: white;
}


.player-field-zone {
  height: 270px;
  width: 750px;
  background: rgb(0, 0, 0);
  /* background: red; */
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card {
  border: 1px solid rgb(138, 138, 138);
  height: 120px;
  width: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card:hover {
  border: 1px solid white;
}

.field-card {
}

.monster-card {
}

.extra-deck {
  border-color: white;
}

.graveyard {
  border-color: brown;
}

.spell-trap-card {
}

.deck {
  border-color: gold;
}

.player_2 {
  transform: rotateZ(180deg);
}

.all-cards {
  margin: auto;
  width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: black;
  color: white;
}

.card-test {
  height: 200px;
  width: 150px;
  border: 1px solid black;
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  text-align: center;
}

.card-title {
  font-size: 13px;
  font-weight: bold;
}

.kaiba-deck {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards-display {
  margin: auto;
  width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: black;
  color: white;
  
}

h2 {
  text-align: center;
}

.border {
}

.hand {
  position: absolute;
  width: 450px;
  height: 120px;
  background: black;
  background: rgb(0,0,0, .5);
  display: flex;
  justify-content: flex-start;
  border: 1px solid white;
}

.card_controls {
  background: red;
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_control {
  height: 20px;
  width: 20px;
  background: black;
  border: 1px solid white;
}

.white {
  color: white;
}

.test {
  height: 100px;
  width: 100px;
  background: red;
}

.home_page {
  height: 500px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  font-size: 22px;
  font-weight: bold;
  gap: 60px;
  color: white;
}

a {
  color:white;
}

.navbar {
  width: 700px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
}

a {
  text-decoration: none;
}

.single-card-snippet {
  background: 300px;
  height: 570px;
  width: 500px;
  background: rgb(46, 46, 46);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex-direction: column;
  padding: 10px;
}

.single-card-img {
  height: 410px;
}

.card-info {
  height: 90px;
  width: 360px;
  border: 1px solid rgb(131, 131, 131);
}

.monster-card-info {
  height: 100%;
  padding: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  font-size: 13px;

}

.attribute {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 160px;

}

.field-card-display {
  position: absolute;
  right: 0;
  bottom: 20px;
  height: 500px;
  width: 300px;
  background: rgb(52, 52, 52);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
  border: 1px solid grey;
}

.field-card-display-card {
  padding-top: 20px;
  width: 200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.hand .card {
  opacity: .8;
}

.hand .card:hover {
  opacity: 1;
}

.card-display-title {
  height: 35px;
  width: 300px;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.display-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 50px;
  width: 200px;
  margin: 30px;
}

.display-button-container button  {
  height: 33px;
  width: 77px;
  background-color: black;
  border-radius: 1px;
  color: white;
  border: 1px solid grey;

  cursor: pointer;
}

.start_game {
  margin: auto;
  background: rgb(46, 46, 46);
  height: 300px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

#start_game_btn {
  height: 80px;
  width: 200px;
  background: grey;
  font-size: 19px;
  cursor: pointer;
  color: white;
}

.home_nav {
  display: flex;
  flex-direction: column;
  height: 220px;
  width: 150px;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}

.home_title {
  background: rgb(0, 0, 0);
  text-align: center;
}

.logo {
}

.lifepoints {
  position: absolute;
  left: 100px;
  border: 1px solid white;
  padding: 11px;
}

.phase-test {
  position: absolute;
  left: 100px;
  bottom: 100px;
}

.card-zone {
  height: 130px;
  width: 100px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(44, 44, 44);
}

.phase_tester {
  display: none;
  height: 200px;
  width: 100px;
  right: 70px;
}

.phase_display {
  color: white;
  position: absolute;
  bottom: 290px;
  width: 400px;
  height: 30px;
}

.phase_display button {
  width: 70px;
  margin-right: 10px;
}

.back-btn {
  height: 30px;
  width: 80px;
  background: red;
  border-radius: 5px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

